body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.container {
  background: radial-gradient(#fdfefe, #ccdef0);
}
.grid {
  display: grid;
  font-size: 18px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 5fr 7fr;
  grid-gap: 1px;
  grid-template-areas: "logo     nav" "title    image" "content  image" "button   image" "social   image" "footer   footer";
}
.logo {
  grid-area: logo;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 900;
}
.logo span {
  color: #5abb33;
}
.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}
.title {
  grid-area: title;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0;
  font-size: 47px;
  font-weight: 800;
}
.content {
  grid-area: content;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 1.7;
}
.button {
  grid-area: button;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 700;
}
.social {
  grid-area: social;
  background-color: rgba(0, 0, 0, 0.1);
}
.image {
  grid-area: image;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.1);
}
