@color-green: #5abb33;
@color-black: #000;
@color-gold-light: #fadb60;
@color-gold-dark: #ffcc00;
@fontweight-medium: 500;
@fontweight-bold: 800;
@fontweight-black: 900;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: @fontweight-medium;
}

.container {
    background: radial-gradient(#fdfefe, #ccdef0);
    // font-size: 18px;
}

.grid {
    display: grid;

    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 5fr 7fr;
    grid-gap: 1px;
    grid-template-areas:
        "logo     nav"
        "title    image"
        "content  image"
        "button   image"
        "social   image"
        "footer   footer";
}

.logo {
    grid-area: logo;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 28px;
    // font-size: 1.56em;
    font-weight: @fontweight-black;

    span {
        color: @color-green;
    }
}

.nav {
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.title {
    grid-area: title;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    // max-width: 500px;
}

.content {
    grid-area: content;
    background-color: rgba(0, 0, 0, 0.1);
    // max-width: 500px;
}

.button {
    grid-area: button;
    background-color: rgba(0, 0, 0, 0.1);
    // max-width: 500px;
}

.social {
    grid-area: social;
    background-color: rgba(0, 0, 0, 0.1);
    // max-width: 500px;
}

.image {
    grid-area: image;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer {
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.1);
}