.container {
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 1px;
    grid-template-areas:

        "logo         navi"
        "title        image"
        "text         image"
        "button       image"
        "social-icon  image"
        "footer       footer"

    ;
}

// .item-11 {
//     grid-template-columns: 1fr;
// }