body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(#fdfefe, #ccdef0);
  min-height: 100vh;
}
.grid {
  min-width: 250px;
  display: grid;
  font-size: 18px;
  max-width: 1290px;
  margin: 0 auto;
  grid-template-rows: 117px 180px 163px 104px auto;
  grid-template-columns: 48px 5fr 7fr 48px;
  grid-gap: 0px;
  grid-template-areas: "indent-left   logo     nav     indent-right" "indent-left   title    image   indent-right" "indent-left   content  image   indent-right" "indent-left   button   image   indent-right" "indent-left   social   image   indent-right";
}
.btn-menu {
  grid-area: btn-menu;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
}
.indent-left .indent-right {
  grid-area: indent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 45px;
  height: auto;
}
.logo {
  grid-area: logo;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 900;
  justify-self: start;
  align-self: end;
}
.logo span {
  color: #5abb33;
}
.nav {
  justify-self: end;
  grid-area: nav;
  display: flex;
  min-width: 564px;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.nav p {
  margin: 0px;
}
.title {
  grid-area: title;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0;
  font-size: 47px;
  align-self: end;
  font-weight: 800;
}
.content {
  grid-area: content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 1.7;
  justify-self: start;
  align-self: end;
}
.block-button {
  grid-area: button;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 700;
  justify-self: start;
  align-self: end;
}
.button {
  display: inline-block;
  background: linear-gradient(180deg, #fadb60, #ffcc00);
  padding: 23px 34px;
  border-radius: 50px;
}
.social {
  grid-area: social;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-self: start;
  align-self: end;
}
.social img {
  margin-right: 30px;
  margin-bottom: 30px;
}
.image {
  grid-area: image;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-self: start;
  align-self: end;
  margin-top: 30px;
}
.footer {
  display: flex;
  grid-area: footer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-self: stretch;
  align-self: stretch;
  background-color: #111;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 112px;
  justify-content: center;
  align-content: center;
}
.footer p {
  justify-content: center;
  align-content: center;
  margin: 47px 0;
}
.footer span {
  color: #fada50;
}
@media (max-width: 1290px) and (min-width: 1071px) {
  .grid {
    grid-template-rows: 117px 100px 250px 104px auto;
    grid-template-columns: 48px 5fr 7fr 48px;
    grid-template-areas: "indent-left   logo     title   indent-right" "indent-left   nav      nav     indent-right" "indent-left   content  image   indent-right" "indent-left   button   image   indent-right" "indent-left   social   image   indent-right";
  }
  .btn-menu {
    display: none;
  }
  .title {
    justify-self: end;
  }
  .nav {
    align-self: center;
    justify-content: space-around;
    width: 100%;
  }
  .nav p {
    margin: 0px;
    text-decoration: underline;
  }
  .image {
    grid-area: image;
    margin-top: 0;
    justify-self: start;
    align-self: start;
  }
}
@media (max-width: 1070px) and (min-width: 831px) {
  .grid {
    grid-template-rows: 76px 79px 121px auto auto 104px 64px;
    grid-template-columns: 48px auto 48px;
    grid-template-areas: "indent-left  logo     indent-right" "indent-left  title    indent-right" "indent-left  nav      indent-right" "indent-left  image    indent-right" "indent-left  button   indent-right" "indent-left  content  indent-right" "indent-left  social   indent-right";
  }
  .btn-menu {
    display: none;
  }
  .title {
    font-size: 48px;
    justify-self: center;
    align-self: end;
  }
  .logo {
    font-size: 28px;
    justify-self: center;
    align-self: end;
  }
  .nav {
    font-size: 18px;
    justify-content: space-around;
    align-self: center;
    justify-self: normal;
  }
  .image {
    justify-self: center;
    align-self: start;
    width: 1fr;
  }
  .block-button {
    justify-self: center;
  }
  .content {
    align-self: center;
    text-align: center;
  }
  .social {
    justify-self: center;
    align-self: center;
  }
  .social img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}
@media (max-width: 830px) {
  .grid {
    grid-template-rows: 50px 50px auto auto auto 72px;
    grid-template-columns: 10px 100px auto 10px;
    grid-template-areas: "indent-left  btn-menu  logo     indent-right" "indent-left  btn-menu  title    indent-right" "indent-left  image     image    indent-right" "indent-left  button    button   indent-right" "indent-left  content   content  indent-right" "indent-left  social    social   indent-right";
  }
  .btn-menu {
    display: inline-block;
    align-self: end;
    justify-self: center;
    padding-bottom: 7px;
  }
  .nav {
    display: none;
  }
  .title {
    font-size: 48px;
    justify-self: start;
    align-self: end;
  }
  .logo {
    font-size: 28px;
    justify-self: start;
    align-self: end;
  }
  .image {
    justify-self: center;
    align-self: end;
    max-width: 100%;
  }
  .image img {
    max-width: 100%;
  }
  .block-button {
    justify-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .content {
    align-self: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .social {
    justify-self: center;
    align-self: center;
  }
  .social img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}
